@using LevelEditorWebApp.Services;
@{
    ViewData["Title"] = "Home Page";
}
@inject IPostsService postsService

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@if(ViewData["FiveNewestPosts"] != null) {
        <h2 class="text-center display-5">Recently updated posts</h2>
        <div class="card-group">
        <!-- display link toward each of the posts in ViewData["FiveNewestPosts"] -->
        @foreach (var post in ViewData["FiveNewestPosts"] as Post[])
        {
            <div class="">
                    <div class="card card-most-recent-posts h-100"  style="width: 16rem;">
                    <!-- Link towards post by post Id -->
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.PostId" class="text-decoration-none">
                        <div class="card-body text-decoration-none text-dark">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text"><b>Posted by:</b> @post.Author</p>
                        </div>
                        <div class="card-footer text-decoration-none text-secondary">
                            <small class=""><b>Last updated:</b> @post.CreatedAt.Value.ToString("dd.MM.yy")</small>
                        </div>
                    </a>
                </div>
            </div>
        }
        </div>
}

        @if (ViewData["FiveBestAllTimePosts"] != null) {
                <h2 class="text-center display-5 mt-5">Best Rated Posts</h2>
                <div class="card-group">
                <!-- display link toward each of the posts in ViewData["FiveNewestPosts"] -->
                @foreach (var post in ViewData["FiveBestAllTimePosts"] as Post[]) {
                        <div class="">
                                <div class="card card-most-recent-posts h-100"  style="width: 16rem;">
                                <!-- Link towards post by post Id -->
                                <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.PostId" class="text-decoration-none">
                                    <div class="card-body text-decoration-none text-dark">
                                        <h5 class="card-title">@post.Title</h5>
                                        <p class="card-text"><b>Posted by:</b> @post.Author</p>
                                    </div>
                                    <div class="card-footer text-decoration-none text-secondary">
                                        <small class=""><b>Last updated:</b> @post.CreatedAt.Value.ToString("dd.MM.yy")</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                }
                </div>
        }